$d-primary: #3261e3 !default;
$d-secondary: #6f31f5 !default;

$d-success: #28dce2 !default;
$d-danger: #df342e !default;
$d-warning: rgb(223, 149, 39) !default;

$d-surface: #fff;

// Translucent
$d-util-hover: rgba(125, 125, 125, 0.1);